---
---

@import "{{ site.theme }}";

@media screen and (max-width: 42em) {
    .btn {
        padding: 0.75rem 1rem;
        display: inline-block;
        width: unset;
        font-size: unset;
    }
}

@media screen and (max-width: 64em) and (min-width: 42em) {
    .btn {
        padding: 0.75rem 1rem;
        display: inline-block;
        width: unset;
        font-size: unset;
    }
}

@media print {
    .non-printable {
        display: none;
    }
    
    div.page-break {
        page-break-after: always;
    }
}