---
---

@media screen and (max-width: 42em) {
    .btn {
        padding: 0.75rem 1rem;
    }
}

@import "{{ site.theme }}";

@media print {
    .non-printable {
        display: none;
    }
    
    div.page-break {
        page-break-after: always;
    }
}